body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    
}

svg {
    width: 400px;
    height: 400px;
}

.circleOuter {
    stroke-width:8;
    stroke:rgb(0,0,0);
    fill:none;  
    stroke-linecap:square; 
    --radius: 190;
    --value: 0.8;
    stroke-dasharray: calc(2 * 22 / 7 * var(--radius) * var(--value)), calc(2 * 22 / 7 * var(--radius));
    /* https://www.divami.com/blog/usage-svg-stroke-dasharray/ */
    stroke-dashoffset: 0;
}

.circleMiddle {
    stroke-width:8;
    stroke:rgb(0,0,0);
    fill:none;   
    stroke-linecap:square; 
}

.circleInner {
    stroke-width:8;
    stroke: white;
    fill:none;   
    stroke-linecap:square; 
}