body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Play', sans-serif;
    position: relative;
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    
}

svg {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleOuter {
    stroke-width:8;
    stroke:rgb(0,0,0);
    fill:none;  
    stroke-linecap:square; 
    --radius: 190;
    --value: 0.8;
    --pi: 22/7;
    /* stroke-dasharray: calc(var(--value)*2*var(--pi)*var(--radius)), calc((1- var(--value))*2*var(--pi)*var(--radius)); */
    stroke-dasharray: calc(2 * var(--pi) * var(--radius) * var(--value)), calc(2 * var(--pi) * var(--radius));
    /* https://www.divami.com/blog/usage-svg-stroke-dasharray/ */
    transform:rotate(125deg);
    transform-origin: center center;
}

.circleOuter_red {
     stroke-width:8;
    stroke:darkred;
    fill:none;  
    stroke-linecap:square; 
    --radius: 190;
    --value: 0.28;
    --pi: 22/7;
    stroke-dasharray: calc(2 * var(--pi) * var(--radius) * var(--value)), calc(2 * var(--pi) * var(--radius));
    transform:rotate(313deg);
    transform-origin: center center;
}

.circleMiddle {
    stroke-width:8;
    stroke:rgb(0,0,0);
    fill:none;   
    stroke-linecap:square; 
    --radius: 130;
    --value: 0.8;
    --pi: 22/7;
    /* stroke-dasharray: calc(var(--value)*2*var(--pi)*var(--radius)), calc((1- var(--value))*2*var(--pi)*var(--radius)); */
    stroke-dasharray: calc(2 * var(--pi) * var(--radius) * var(--value)), calc(2 * var(--pi) * var(--radius));
    /* https://www.divami.com/blog/usage-svg-stroke-dasharray/ */
    transform:rotate(125deg);
    transform-origin: center center;
}

.circleInner {
    stroke-width:8;
    stroke: white;
    fill:none;   
    stroke-linecap:square; 
    --radius: 60;
    --value: 0.8;
    --pi: 22/7;
    /* stroke-dasharray: calc(var(--value)*2*var(--pi)*var(--radius)), calc((1- var(--value))*2*var(--pi)*var(--radius)); */
    stroke-dasharray: calc(2 * var(--pi) * var(--radius) * var(--value)), calc(2 * var(--pi) * var(--radius));
    /* https://www.divami.com/blog/usage-svg-stroke-dasharray/ */
    transform:rotate(125deg);
    transform-origin: center center;
}

.n {
    font-size: 36px;
}
.n0 {
position:absolute;
top: 614px;
left: 529px;
}

.n1 {
    position:absolute;
top: 554px;
left: 479px;
}

.n2 {
    position:absolute;
top: 477px;
left:467px;
}

.n3 {
    position:absolute;
top: 392px;
left:496px;
}

.n4 {
position:absolute;
top: 326px;
left:573px;
}

.n5 {
position:absolute;
top: 326px;
left:700px;
}

.n6 {
    position:absolute;
top: 392px;
left: 779px;
}

.n7 {
    position:absolute;
top: 477px;
left:805px;
}

.n8 {
    position:absolute;
top: 554px;
left: 789px;
}

.n9 {
position:absolute;
top: 614px;
left:728px;
}

